<%- include('../tasks/header'); -%>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                لیست کاربران
                <a href="/user/add" class="btn btn-outline-success btn-icon">
                    <i class="material-icons">
                        note_add
                    </i>
                    <span>افزودن کاربر جدید</span>
                </a>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>نام و نام خانوادگی</th>
                            <th>ایمیل</th>
                            <th>وضعیت کاربر</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>نام و نام خانوادگی</th>
                            <th>ایمیل</th>
                            <th>وضعیت کاربر</th>
                            <th>عملیات</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <% users.forEach(function(user){ %>
                        <%- include('userItems', {user: user}); %>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>